In [2]:
import pandas as pd
a={'Name':["Piyush","Arnav","Nishan"],
    'Rollno':[8,10,6],
    'Course':["CS","EE","CS"]}
df=pd.DataFrame(a)
df

     Name  Rollno Course
0  Piyush       8     CS
1   Arnav      10     EE
2  Nishan       6     CS

In [12]:
dd=pd.melt(df,id_vars=['Rollno'],value_vars=['Name','Course'],var_name='changedvar',value_name='changedvalue')

In [15]:
d=dd.pivot(index='Rollno',columns='changedvar',values='changedvalue')
d

changedvar Course    Name
Rollno
6              CS  Nishan
8              CS  Piyush
10             EE   Arnav